<!DOCTYPE html>
<html>
<head>
<title>Dispatch Page</title>
</head>
<style>

body {
	-moz-user-select: none;
	font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
	color: #000;
	font-size: 20px;
}

#logo {
	padding-right: 10px;
}
.header{
	page-break-before: always;
}
.header th  {
	text-align: left;
}
.datatable{

}
.datatable{
	width: 100%;
}
.datatable , .datatable th, .datatable td {
	border-collapse: collapse;
	border: 1px solid gray;
}

.datatable td {
	margin-left: 5px;
	margin-right: 5px;
	padding: 0.8em;

}


.datatable thead {display: table-header-group;}

tr { page-break-inside: avoid; }

table, tr, td, th, tbody, thead, tfoot, td div {
    page-break-inside: avoid !important;
}




</style>

<body>

	<%
		@dpage = ["","",""]
		@i = 1
		@j = 1
		@district_change = false
		@ta_change = false
		@village_change = false
		@ids = []
	%>
	<% @data["data"].each do |row| %>

		<% @district = row['DistrictOfInformant'] %>
	
		<%
			log = "#{Rails.root}/tmp/dispatch-#{Dir["#{Rails.root}/tmp/*"].count + 1}.txt"
			#`echo "#{row["person_id"]}" >> #{log}`
		%>
		<%  @village = row["VillageOfInformant"]

			@ta = row["TraditionalAuthorityOfInformant"]
			
		%>

		<% if @village != @dpage[2] || @village.blank? && @ta != @dpage[1] %>
		<div class="header" style="page-break-before: always;">
		<h4>NRB eBRS Records List</h4>
			<table>
			<tr>
			<td rowspan="5" colspan="4" id="logo">
				<img src="/assets/coa.png" height="60">
		
			</td>
			</tr>
			
			<tr><th>District:</th>
				<td colspan="3" style="min-width: 100px;"><%= @district %></td>
			</tr>
			<tr><th>TA:</th>
				<td colspan="3" style="min-width: 100px;"><%= @ta %></td>
			</tr>
			<tr><th>Village:</th>
				<td colspan="3" style="min-width: 100px;"><%= @village %></td>
			</tr>				
			<tr><th>Printed On:</th>
				<td colspan="3"><%= Date.today.strftime("%d %b %Y") %></td>
			</tr>
			</table>
		</div>
		<br/>
		<br/>
		
		<table class="datatable" style="width: 100%;">
			<thead>
				<tr>
						<th rowspan="2" width="5">#</th>
						<th rowspan="2" width="100">Name</th>
						<th rowspan="2" width="130">DoB</th>
						<th rowspan="2" width="50">Sex</th>
						<th rowspan="2" width="80">Place of Birth</th>
						<th rowspan="2" >Location</th>
						<th rowspan="2" >Status</th>
						<th rowspan="2"> Name of Mother </th>
						<th rowspan="2">Informant Name</th>
						<th colspan="5" width="600">Collected By</th>
				</tr>
				<tr>
						<th width="200">Name</th>
						<th width="100">ID Number<br/>(Type-Number)</th>
						<th width="100">Phone Number</th>
						<th width="100">Sig.</th>
						<th width="100">Date</th>
						
				</tr>
			</thead>
		<% else %>
		   
		<% end %>
		<% @dpage = [@district,@ta,@village] %>
			<% if !@ids.include?(row['person_id']) %>
				<tr>
					<td style="text-align:right">
						<%= @j%>
					</td>
					<td style="text-align:center" >
						<%= row['Name'] %>
					</td>
					<td style="text-align:center" >
						<%= row['DoB'].to_time.strftime("%d/%b/%Y") %>
					</td>
					<td style="text-align:center" >
						<%= row['Sex'] %>
					</td>
					<td style="text-align:center" >
						<%= row['PoB'] %>
					</td>
					<td style="text-align:center" >
						<%= row['Location'] %>
					</td>
					<td style="text-align:center" >
						<%= row['RecordStatus'] %>
					</td>
					<td style="text-align:center" >
						<%=  row['NameOfMother'] %>
					</td>
					<td style="text-align:center" >
						<%= row['NameOfInformant'] %>
					</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			<%
					@j = @j + 1
					@ids << row['person_id']
			end%>

		<% if @data["data"][@i].present? && @village != @data["data"][@i]['VillageOfInformant'] || @data["data"].length == @i || @data["data"][@i].present? && @village.blank? && @ta != @data["data"][@i]['TraditionalAuthorityOfInformant'] %>
			</table>
			<% @j = 1 %>
		<%end%>
		<% 
			@i = @i + 1
			
		%>
	<% end %>

</body>
</html>