<style>
.dashboard-title {
  margin-left: 5%;
}

.statistics {
  margin-right: 5%;
}

.separator-line {
  width: 100%;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

.charts {
  margin-left: 5%;
}

#map{
    max-width: 650px;
    max-height: 730px;
}
</style>

<%= stylesheet_link_tag "bootstrap/bootstrap" %>                                         
<%=javascript_include_tag "bootstrap/bootstrap-inputmask.min"%>

<script>
    function showShield(){}
    function removeShield(){}
</script>
<div class="panel panel-default">
  <div class="panel-heading" style="height: 40px;">
    <table style="width: 100%;">
      <tr>
        <td>
          <h3 style="padding-bottom: 12.5px;color:darkslategray; height: 30px;margin-top: 0px;"><%= @section%>
            <span style="padding-left: 50px;">
              <small>statistics updated: <span style="color: darkseagreen"><%= @stats_time%></span></small>
            </span>
          </h3>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-lg-4">
    <iframe id="map" style="border: 1px solid lightgray; border-top: none; height: 450px; width: 98%" scrolling="no" id="main-display" src="/person/map_main"></iframe>
  </div>

  <div class="col-lg-8 main-chart" style="padding-top: 0px; height: 450px; overflow:auto;">
    <h3 style="width: 100%; text-align: center;padding: 0px;" id="district_label">&nbsp;</h3>
    <div class="row " style="width: 97%; margin: auto;  box-shadow: 0px 5px 5px darkslategray, 0px 5px 5px black; padding: 15px;">
      <button id="reset" class="btn-btn-sm" style="cursor: pointer;position: absolute; z-index: 1500; top: 60px; left: 45px;
              background: darkslategray; color: white;">reset</button>
      <%
        attributes = [
          ['Newly Received (HQ)', @stats['HQ-ACTIVE']],
          ['Print Queue (HQ)', @stats['HQ-CAN-PRINT']],
          ['Rejected to DC', @stats['HQ-REJECTED']],
          ['To be Approved by DM (HQ)', (@stats['HQ-COMPLETE'] + @stats['HQ-CONFLICT'])],
          ['Suspected Duplicate (HQ)', @stats['HQ-POTENTIAL DUPLICATE']],
          ['Incomplete Record (HQ)', @stats['HQ-INCOMPLETE']],
          ['Printed (HQ)', @stats['HQ-PRINTED']],
          ['Dispatched(HQ)', @stats['HQ-DISPATCHED']],
          ['Amendment Request (HQ)', @stats['HQ-AMEND']]
        ]

       # attributes = @stats.collect{|k, v| [k, v] if v.to_i > 0 && k.match(/\HQ/)}.delete_if{|a| a.blank? }

      %>

      <%(attributes || []).each do |a, count|%>

      <div class="col-md-3 col-sm-3 col-md-offset-1 box0">
        <div class="box1" style="padding: 7px;">
          <span class="li_heart"></span>
          <h3 style="color: black;" class='stat-count' id="<%= a%>" default-value="<%=count%>"><%=count%></h3>
        </div>
        <p style="color: darkslategray;"><%= a %></p>
      </div>
      <%end%>
    </div><!-- /row mt -->
  </div>

  <%#=javascript_include_tag "Highcharts/jquery.min"%>
  <%#=javascript_include_tag "Highcharts/highcharts"%>
  <%#=javascript_include_tag "Highcharts/exporting"%>

  <div class="row charts">
    <div class="col-lg-12">

      <div class="col-md-12">
        <%#= render partial: 'person/charts/bar_statistics' %>
      </div>

      <!--div class="col-md-6">
        <%#= render partial: 'person/charts/pie_statistics' %>
      </div-->

    </div>
  </div>
</div>

