<style>
.dashboard-title {
  margin-left: 5%;
}

.statistics {
  margin-right: 5%;
}

.separator-line {
  width: 100%;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

.charts {
  margin-left: 5%;
}

</style>

<%= stylesheet_link_tag "bootstrap/bootstrap" %>                                         
<%=javascript_include_tag "bootstrap/bootstrap-inputmask.min"%>

<div class="panel panel-default">
  <div class="panel-heading" style="height: 50px;">
    <table style="width: 100%;">
      <tr>
        <td>
          <h3 style="padding-bottom: 15px;color:darkslategray; height: 40px;margin-top: 0px;"><%= @section%></h3>
        </td>
        <td colspan="8" style="width: 60%;">
          <div class="pull-right" style="height: 40px; margin-top: 0px;">

          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-12 main-chart"> 
    
    <div class="row ">
      <%
        attributes = [
          ['Newly Received (HQ)', @stats['HQ-ACTIVE']],
          ['Print Que (HQ)', @stats['HQ-CAN-PRINT']],
          ['Verified (HQ)', @stats['HQ-APPROVED']],
          ['Re-print Que (HQ)', @stats['HQ-RE-PRINT']],
          ['Suspected Duplicate (HQ)', @stats['HQ-POTENTIAL DUPLICATE']],
          ['Incomplete Record (HQ)', @stats['HQ-INCOMPLETE']],
          ['Printed (HQ)', @stats['HQ-PRINTED']],
          ['Dispatched(HQ)', @stats['HQ-DISPATCHED']],
          ['Voided (HQ)', @stats['HQ-VOIDED']],
        ]
      %>
      <%(attributes || []).each do |a, count|%>   
      <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
        <div class="box1" style="padding: 0px;">
          <span class="li_heart"></span>
          <h3 style="color: black;"><%=count%></h3>
        </div>
        <p style="color: darkslategray;"><%= a %></p>
      </div>
      <%end%>
    </div><!-- /row mt -->
  </div>

  <%#=javascript_include_tag "Highcharts/jquery.min"%>
  <%=javascript_include_tag "Highcharts/highcharts"%>
  <%=javascript_include_tag "Highcharts/exporting"%>

  <div class="row charts">
    <div class="col-lg-12"> 
      
      <div class="col-md-6">
        <%= render partial: 'person/charts/bar_statistics' %>
      </div>
       
      <div class="col-md-6">
        <%= render partial: 'person/charts/pie_statistics' %>
      </div> 

    </div> 
  </div> 


</div>
