<%=javascript_include_tag "datatables/jquery" %>
<%=javascript_include_tag "datatables/jquery.dataTables.min" %>

<style>
    .btn-image{
        width: 70px;height: 35px;
        padding: 7px;
    }
</style>

<div class='data-table-container' style="background: white;">

<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th style="text-align: left;">BEN</th>
      <th style="text-align: left;">Name</th>
      <th style="text-align: center; width:120px;">Birthdate</th>
      <th style="text-align: left;">Mother's Name</th>
      <th style="text-align: left;">Father's Name</th>
      <th style="text-align: center;">Record State</th>
      <th>&nbsp;</th>
  </tr>
  </thead>
    <%(@records || []).each do |record|
    %>
      <tr>
        <td style="text-align: left;width: 15%"><%= record['den'] %>&nbsp;</td>
        <td style="text-align: left;width: 15%"><%= record['name'] %></td>
        <td style="text-align: center;width: 15%"><%= record['dob'] %></td>
        <td style="text-align: center;width: 15%"><%= record['mother_name'] %></td>
        <td style="text-align: center;width: 15%"><%= record['father_name'] %></td>
        <td style="text-align: center;"><%= record['status'] %></td>
        <td>
          <table style="width: 100%; text-align: center; border-style: none;">
            <tr>  
              <td><button class="btn btn-info btn-image" onmousedown="javascript:alert();">
                View</button>
              </td>
              <td><button class="btn btn-warning btn-image" onmousedown="javascript:alert();">
                Edit
              </button>
               </td>
              <td style="">
                <button class="btn btn-danger btn-image" onmousedown="javascript:alert();">
                Void</button>
               </td>
            </tr>
          </table>
        </td>
      </tr>
    <%end%>
  <tbody>
  </tbody>
</table>

</div>

<script>

jQuery(document).ready(function() {
    $('#example').DataTable();
} );

</script>
