<%=javascript_include_tag "datatables/prototype" %>
<%=javascript_include_tag "datatables/jquery.dataTables.min" %>
<%=javascript_include_tag "datatables/dataTables.bootstrap" %>
<%=javascript_include_tag "bootstrap/bootstrap.min" %>

<%= stylesheet_link_tag "datatables/jquery.dataTables.min" %>


<style>


    #example{
        background-color: #d3d3d3;
    }
    #example tr td{
        background-color: white !important;
        border-left: 0.5px dotted lightgray;
        padding: 7px;
    }

    .action-btn .fa{
        min-width: 35px;
        font-size: 18px;

    }

    .checkbox{
        margin-left: 5px;

    }

    th{
        background: lightsteelblue;
        color: black;
    }

    .panel-heading{
        margin-bottom: 20px;
    }

    .action-btn{
        border: none !important;
        margin-top: 0px;
        min-width: 50px;
        padding: 3px;
        margin-left: 5px;

    }

    .fix-middle{
        position: fixed;
        z-index: 2000;
        left: 55%;
        top: 40%;
    }
    #birth_type, #example_filter{
        margin-left: 15px;
        float: right;
    }

</style>
<div class="panel panel-default">
  <div class="panel-heading" style="height: 50px;">
    <table style="width: 100%;">
      <tr>
        <td>
          <h3 style="padding-bottom: 15px;color:darkslategray; height: 40px;margin-top: 0px;"><%= @section%></h3>
        </td>
        <td colspan="8" style="width: 60%;">

        </td>
      </tr>
    </table>
  </div>

  <div class="fix-middle" style="height: 40px; margin-top: 0px;">
    <%if (['HQ-CAN-PRINT', 'HQ-CAN-REPRINT'] & params['statuses']).length > 0%>
        <button id="print-all" onclick="printAll()"
                class=" action-btn btn btn-sm btn-success"><i class="fa fa-print"></i>Print Selected</button>
    <% end %>
    <%if (['HQ-PRINTED'] & params['statuses']).length > 0%>
        <button id="dispatch-all" onclick="__$('dispatch-count').innerHTML = selected.length; jQuery('#printerModal2').modal('show')"
                class=" action-btn btn btn-sm btn-primary"><i class="fa fa-truck"></i>Dispatch Selected</button>
    <% end %>
  </div>
<style>
    #print-all, #dispatch-all{
        display: none;
    }

</style>
<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th style="text-align: left;">BEN</th>
      <% if true %>
        <th style="text-align: left;">BRN</th>
      <% end %>
      <th style="text-align: left;">Name</th>
      <th style="text-align: center; width:90px;">Birthdate</th>
      <th style="text-align: left;">Gender</th>
      <th style="text-align: left;">Mother's Name</th>
      <th style="text-align: left;">Father's Name</th>
      <th style="text-align: center;">Status</th>
      <th>&nbsp;
        <%if (['HQ-CAN-PRINT', 'HQ-CAN-REPRINT', 'HQ-PRINTED'] & params['statuses']).length > 0%>
            <div class="checkbox pull-right">
              <label><input id='select-all' onchange="selectAll()" type="checkbox" value=""></label>
            </div>
        <% end %>
      </th>
  </tr>
  </thead>
    <%(@records || []).each do |record|
       next
    %>
      <tr>
        <td style="text-align: left;width: 15%"><%= record['ben'] %>&nbsp;</td>
        <% if true%>
            <td style="text-align: left;width: 15%"><%= record['brn'] %>&nbsp;</td>
      <% end %>
        <td style="text-align: left;width: 15%"><%= record['name']%></td>
        <td style="text-align: center;width: 15%"><%= record['dob'] %></td>
        <td style="text-align: center;width: 3%"><%= record['gender'] %></td>
        <td style="text-align: center;width: 15%"><%= record['mother_name'] %></td>
        <td style="text-align: center;width: 15%"><%= record['father_name'] %></td>
        <td style="text-align: center;"><%= record['status'] %></td>
        <td>
          <table style="width: 100%; text-align: center; border-style: none;">
            <tr>

            </tr>
          </table>
        </td>
      </tr>
    <%end%>
  <tbody>
  </tbody>
</table>

</div>


<div class="modal fade" id="comments" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

          <h5>Are you sure you want to dispatch <span id="dispatch-count"></span> certificate(s)</h5>
          <div class="modal-footer">
            <button id="comment_close" type="button" class="btn btn-sm btn-default pull-left" onclick="jQuery('#comments').modal('hide')" > Cancel </button>
            <button type="button" class="btn btn-sm btn-primary pull-right" onclick="dispatchAll();" > Dispatch </button>
          </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="printerModal" tabindex="-1" role="dialog" aria-labelledby="printerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: #006f95 none repeat scroll 0 0;padding: 12px;" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="printerModalLabel" style="text-align: left;">
          Select Printer
        </h4>
      </div>
      <div class="modal-body">
        <span style="text-align:center;">
          <table align="center" id="printers">
            <%
               @available_printers = SETTINGS["printer_name"].split('|')
               @available_printers.each do |printer| %>
                <tr onmousedown="updateValue(this)" value="<%= printer %>">
                  <td><input type="radio" class="printer_radio_button" value="<%= printer %>" name="printer_name"/></td>
                  <td style="text-align: left; padding-left:50px;"><%= printer %></td>
                </tr>
            <% end %>
          </table>
        </span>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="submitForm();">Okay</button>
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="printerModal2" tabindex="-1" role="dialog" aria-labelledby="printerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background: #006f95 none repeat scroll 0 0;padding: 12px;" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="printerModalLabel" style="text-align: left;">
          Select Printer for Certificate(s) list
        </h4>
      </div>
      <div class="modal-body">
        <span style="text-align:center;">
          <table align="center" id="printers">
            <%
               @available_printers = SETTINGS["printer_name"].split('|')
               @available_printers.each do |printer| %>
                <tr onmousedown="updateValue(this)" value="<%= printer %>">
                  <td><input type="radio" class="printer_radio_button" value="<%= printer %>" name="printer_name"/></td>
                  <td style="text-align: left; padding-left:50px;"><%= printer %></td>
                </tr>
            <% end %>
          </table>
        </span>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="dispatchAll();">Dispatch</button>
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<select id="birth_type" label="Birth Type" onchange="reloadDataTable(this)">
  <option value="All">Select Birth Type</option>
  <option>Normal</option>
  <option>Abandoned</option>
  <option>Adopted</option>
  <option>Orphaned</option>
</select>

<script>
    selected = [];
    var table;
    var url = "<%= request.url%>";

    $i(document).ready(function() {
        initTable();
        var holder = __$('example_filter').parentNode;
        holder.appendChild(__$('birth_type'));
    } );

    function initTable(){
        table =  $i('#example').DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "ordering": false,
                    "ajax": {
                        "url": url,
                        "data": function(d){
                            d.type = __$('birth_type').value;
                        },
                        dataFilter: function(data){
                            var json = jQuery.parseJSON( data );
                            for(var i = 0; i < json['data'].length; i ++){
                                var last_index = json['data'][i].length - 1;
                                var person_id = json['data'][i][last_index]
                                json['data'][i][last_index] =   '<td class="act-btn"> ' +
                                        '<button onclick="javascript:location=\'/show_person/' + person_id + ' \'"     ' +

                                        '    class="action-btn btn btn-success btn-xs"><i class="fa fa-eye"></i></button></td>';

                                 <% if admin? %>
                                    json['data'][i][last_index] += '<td class="act-btn">' +
                                        '<button onclick="javascript:location=\'/edit/' + person_id + ' \'"' +
                                        'class=" hidden action-btn btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></td>' +
                                        '<td class="act-btn"><button onclick="javascript:location=\'/void/' + person_id + '\'"' +
                                        'class="action-btn btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button></td>'
                                <% end %>

                                <%if (['HQ-CAN-PRINT', 'HQ-CAN-REPRINT', 'HQ-PRINTED'] & params['statuses']).length > 0%>
                                json['data'][i][last_index] += '<td class="act-btn"><div class="checkbox">' +
                                    '<label><input class=\'multi-check\' person_id = "' + person_id +  '" onchange="checkSelections();" type="checkbox" value=""></label> </div></td>';
                                <% end %>

                            }
                            return JSON.stringify( json );
                        }
                    }}
        );
    }

    function reloadDataTable(node){
        table.ajax.reload();
    }

    function printAll() {
        jQuery("#printerModal").modal("show");
    }

    function dispatchAll(){
        if(printer_name.length == 0){
            alert("Please select printer!");
            return;
        }
        window.location = "/person/dispatch_certificates?person_ids=" +  selected.join(',') + "&printer_name=" + printer_name;
    }

    function checkSelections(){
        var nodes = document.getElementsByClassName('multi-check');
        selected = [];
        for(var i = 0; i < nodes.length; i ++){
            if(nodes[i].checked){
                selected.push(nodes[i].getAttribute('person_id'));
            }
        }

        if(selected.length > 0){
            if (__$('print-all')){
                jQuery('#print-all').show()
            }
            if (__$('dispatch-all')){
                jQuery('#dispatch-all').show()
            }
        }else{
            if (__$('print-all')){
                jQuery('#print-all').hide()
            }
            if (__$('dispatch-all')){
                jQuery('#dispatch-all').hide()
            }
        }
    }

    function selectAll(){
        if(__$('select-all').checked){
            jQuery(".multi-check").prop('checked', true);
        }else{
            jQuery(".multi-check").prop('checked', false);
        }
        checkSelections();
    }

    printer_name = ""

    function updateValue(obj){
        printer_name = obj.getAttribute('value');
    }

    function submitForm(){
        if (printer_name.length == 0){
            alert("Please select a printer");
        }else {
            window.location = "/print?person_ids=" + selected.join(',') + "&printer_name=" + printer_name;
        }
    }

    checkSelections();

</script>

<style>
  .action-btn, .act-btn{
    border: none !important;
  }
</style>
