<style>

    .record td {
        font-size: 15px;
        font-style: italic;
        color: #000;
        padding: 7px;
    }

    .record td strong {
        font-size: 14px;
        font-style: normal;
        color: #3465a4;
    }

    fieldset {
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #3465a4;
        padding: 20px;
    }

    legend {
        font-size: 18px;
        font-weight: normal;
        color: #3465a4;
    }

    .btn-ctrls {
      text-align: right;
    }

</style>


<%=javascript_include_tag "datatables/prototype" %>
<%=javascript_include_tag "datatables/jquery.dataTables.min" %>
<%=javascript_include_tag "datatables/dataTables.bootstrap" %>
<%=javascript_include_tag "bootstrap/bootstrap.min" %>

<%= stylesheet_link_tag "datatables/jquery.dataTables.min" %>

<div class="panel panel-default">
  <div class="panel-heading" style="height: 50px;">
    <table style="width: 100%;">
      <tr>
        <td>
          <h3 style="padding-bottom: 15px;color:darkslategray; height: 40px;margin-top: 0px;">User Details</h3>
        </td>
        <td colspan="8" style="width: 60%;">
          <div class="pull-right" style="height: 40px; margin-top: 0px;">
            <% if User.current.user_role.role.role == "Administrator"%>
                <a class="btn btn-sm btn-primary"
                   style="position: relative;"
                   onclick="javascript:location='/users/new'">
                  <span class="fa fa-plus-square"></span>
                  Add User
                </a>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
  </div>


  <fieldset style="border: 1px solid #eee;">
  <table class="record" style="margin: auto;" cellpadding="10" cellspacing="5">
    <tr>
      <td colspan="3">
        <p id="notice"><%= notice %></p>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Username:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @user.username %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>First Name:</strong>
      </td>
      <td>
        :
      </td>
      <td>
       <%= @user.core_person.person_name.first_name %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Last Name:</strong>
      </td>
      <td>
        :
      </td>
      <td>
       <%= @user.core_person.person_name.last_name %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Level:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @user.user_role.role.level rescue '' %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Role:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @user.user_role.role.role rescue '' %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>E-Mail:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @user.email rescue '' %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Created:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @user.created_at.to_date.strftime("%d/%b/%Y") rescue nil %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Updated:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @user.updated_at.to_date.strftime("%d/%b/%Y") rescue nil %>
      </td>
    </tr>

  </table>

  </fieldset>


  <div id="block_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">
          <p><span id="text"></span></p>
        </div>
        <div class="modal-footer">
          <button onclick="block()" id='block' type="button" class="btn btn-danger" data-dismiss="modal">Block</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="btn-ctrls" style="margin-right: 42.5%;">
    <a class="btn btn-sm btn-warning"
       onclick="javascript:location='/users'">
      <span class="fa fa-chevron-circle-left"></span>
      Back
    </a>
    <% if @user.username != 'admin' && @user != User.current%>
        <%if @user.active == 1 %>
            <a class="btn btn-sm btn-danger"
               style="position: relative;"
               onclick="blockUser('/block_user/<%= @user.id%>', '<%= @user.username%>')">
              <span class="fa fa-times"></span>
                Block
            </a>
        <%else%>
            <a class="btn btn-sm btn-primary"
               style="position: relative;"
               onclick="blockUser('/block_user/<%= @user.id%>?unblock=true', '<%= @user.username%>')">
              <span class="fa fa-plus-square"></span>
              Activate
            </a>
        <%end
    end%>

    <% if @user.username != 'admin' && @user != User.current%>
        <a class="btn btn-sm btn-success"
           onclick="javascript:location='/edit/<%= @user.id%>'">
          <span class="fa fa-pencil"></span>
          Edit
        </a>
    <% end %>

    <% if @user == User.current%>
        <a class="btn btn-sm btn-success"
           onclick="javascript:location='/change_password/<%= @user.id%>'">
          <span class="fa fa-pencil"></span>
          Change Password
        </a>
    <% end %>

  </div>

</div>

<script>
    function blockUser(block_url, user_name){
        __$('block_modal').setAttribute('block_url', block_url)
        if (block_url.match('unblock')){
            __$('block').className = 'btn btn-primary'
            __$('block').innerHTML = 'Activate';
            __$('text').innerHTML = 'Are you sure you want to activate user</span> <b id="username"></b>?'

        }else{
            __$('block').className = 'btn btn-danger';
            __$('block').innerHTML = 'Block'
            __$('text').innerHTML = 'Are you sure you want to block user</span> <b id="username"></b>?'

        }

        __$('username').innerHTML = user_name;

        jQuery('#block_modal').modal('show');
    }

    function block(){
        var url = __$('block_modal').getAttribute('block_url');
        jQuery.ajax({
                    url: url,
                    success: function(result){
                        window.location = '/users';
                    }
                }
        )
    }

</script>
