<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    
    <%= favicon_link_tag 'fav.ico' %>
    <title>eBRS - HQ</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap/bootstrap" %>                                         
    <!--external css-->
    <!--link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" /-->
    <%#= stylesheet_link_tag "font/font-awesome" %>                                         
    <%= stylesheet_link_tag "extras/font-awesome.min" %>
    <%= stylesheet_link_tag "alert" %>

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "extras/style" %>                                         
    <%= stylesheet_link_tag "extras/style-responsive" %>                                         
    <script>
        function __$(id){
            return document.getElementById(id)
        }
    </script>
  </head>
    <%
        @folders = ActionMatrix.read_folders(User.current.user_role.role.role)
    %>
  <body>
  <style type="text/css">
     
      body {
        color: #333 !important;
        font-size: 13.5px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        /*font-size: 16px;*/
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */      
      }


      img {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        pointer-events: none;
      }

      .divbtn {
        height: 155px;
        width: 99%;
        display: table;
        margin-top: 10px;
        cursor:pointer;
        box-shadow: 2px 2px 1px #888888;
        text-align: center; 
        background-color:#ffffff;
        border: 1px solid #d1d1d1;
        padding: 1em;
      }
      .icon-attr {
        height: 50%;
        width: 50%;
        padding-top: 10px;
      }
      .mt a{
          padding: 0px;
          font-size: 15px;
      }

      .black-bg{
          border-bottom: 1px solid white !important;
      }
      #sidebar{
          background: #006f95 none repeat scroll 0 0 !important;
      }

      .wrapper{
          background: white;;
      }

      .panel{
          width: 100% !important;
          border: 1px solid #d3d3d3;
          margin-top: 10px !important;
          padding: 5px;
          color: #333;
      }

  </style>
<script>
  function alert(data){
    try {
      __$('alert-msg').innerHTML = data;
      jQuery('#alert-modal').modal('show');
    }catch(q) {} ;
  }

  function padZeros(number, positions) {
      var zeros = parseInt(positions) - String(number).length;
      var padded = "";

      for (var i = 0; i < zeros; i++) {
          padded += "0";
      }

      padded += String(number);

      return padded;
  }

  Object.defineProperty(Date.prototype, "format", {
   value: function (format) {
           var date = this;
           var result = "";

           if (!format) {

                        format = ""

           }

            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

            var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
                        "October", "November", "December"];

            if (format.match(/YYYY\-mm\-dd/)) {

                        result = date.getFullYear() + "-" + padZeros((parseInt(date.getMonth()) + 1), 2) + "-" + padZeros(date.getDate(), 2);

            } else if (format.match(/mmm\/d\/YYYY/)) {

                        result = months[parseInt(date.getMonth())] + "/" + date.getDate() + "/" + date.getFullYear();

            } else if (format.match(/d\smmmm,\sYYYY/)) {

                        result = date.getDate() + " " + monthNames[parseInt(date.getMonth())] + ", " + date.getFullYear();

            } else {

                        result = date.getDate() + "/" + months[parseInt(date.getMonth())] + "/" + date.getFullYear();

            }

                    return result;
           }
});

</script>
  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/" class="logo"><b><span style="text-transform: lowercase;color:white;">e</span>BRS</b></a>
            <!--logo end-->

            <div class="top-menu" style="padding-top: 7px;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif';">
              <ul class="nav navbar-top-links navbar-right">
                <table cellspacing="0" cellpadding="0" style="background: none;margin: 10px !important; padding: 0px;"><tr><td>
                  <li class="chat-panel dropdown">
                    <a href="#" style="padding: 5px;text-decoration: none;" onclick="jQuery('.dropdown-alerts').toggle()">
                      <span class="label count-label" style="font-size: 14px;margin-bottom: 2px;color: red;"><%= (session[:notifications] || []).length%></span>
                      <i class="fa fa-comments-o"></i>&nbsp; <i class="fa fa-chevron-down"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-alerts" style="width: 360px; !important;margin-top: 4px;">
                      <%
                         (session[:notifications] || []).group_by{|a| a['name']}.each do |n, data|
                      %>
                      <li style="border-bottom: 1px solid #d3d3d3; padding: 10px; overflow: auto;cursor: pointer;"
                          onmousedown="window.location = '/person/view?statuses[]=<%= data.first["status"]%>&destination=<%= n%>'" >
                        <a href="#">
                          <div>
                            <i class="fa fa-comment"
                               style="color: mediumvioletred;"></i> You have <span style="color: darkred; font-weight: bold;"><%= data.count%></span> <%= n%>
                            <span class="pull-right text-muted small" style="color: darkslategray"> 4 minutes ago</span>
                          </div>
                        </a>
                      </li>
                      <% end %>
                    </ul>
                  </li>
                </td>
               <td>
                <li class="chat-panel dropdown chat-panel">
                    <a style="color: black; padding: 5px; class="fa fa-sign-out logout" href="/logout">Logout</a>
                </li>
                  </td>
                  </tr>
                </table>
                </ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="/">
                    <%=image_tag 'coa.png', class: '', width: '60' %></a></p>
              	  <h5 style="border-bottom: 0.5px dotted #d3d3d3;padding-bottom: 15px;" class="centered"><%=User.current.username%></h5>

              	  	
                  <li class="">
                      <a href="/" style="color: white;">
                          <i class="fa fa-home"></i>
                          <span>Home</span>
                      </a>
                  </li>

                <% if (['Search'] & @folders).length > 0%>
                    <li class="sub-menu">
                      <a href="javascript:;" style="color: white;">
                        <i class="fa fa-search"></i>
                        <span>Search</span>
                      </a>
                      <ul class="sub">

                        <% if @folders.include?('General Search')%>
                            <li><a  href="/search">General Search</a></li>
                        <% end %>
                      </ul>
                    </li>
                <% end %>

                <% if (['Tasks'] & @folders).length > 0%>
                  <li class="">
                      <a href="/tasks" style="color: white;">
                          <i class="fa fa-desktop"></i>
                          <span >Tasks</span>
                      </a>
                  </li>
                <% end %>

                <% if (['Settings'] & @folders).length > 0%>
                  <li class="sub-menu">
                      <a href="javascript:;" style="color: white;">
                          <i class="fa fa-cogs"></i>
                          <span>Settings</span>
                      </a>
                      <ul class="sub">
                         <% if @folders.include?('Manage Sites')%>
                          <li><a  href="/sites">Manage sites</a></li>
                         <% end %>

                          <%if @folders.include?('Manage Users') %>
                            <li><a  href="/users">Manage users</a></li>
                            <li><a  href="/paper">Set Paper Size</a></li>
                            <li><a  href="/signature">Set Signatory</a></li>
                          <%end%>

                        <%if @folders.include?('My Account') %>
                          <li><a  href="/user/<%=User.current.id%>">My account</a></li>
                        <% end %>

                      </ul>
                    </li>
                  <% end %>

                <% if (['Reports'] & @folders).length > 0%>
                  <li class="sub-menu">
                      <a href="javascript:;" style="color: white;">
                          <i class="fa fa-book"></i>
                          <span>Reports</span>
                      </a>
                      <ul class="sub">
                          <!--li class="active"><a  href="blank.html">Blank Page</a></li-->
                          <li><a  href="/report/birth_reports">Birth Reports</a></li>
                          <li><a  href="/approved_at_hq">Records by Category</a></li>
                          <li><a  href="/record_state_and_date">By Period of Record State</a></li>
                          <li><a  href="/user_audit_trail">User Audits</a></li>
                          <li><a  href="/reg_vs_birth_district">Birth Vs Reg. District </a></li>
                          <li><a  href="/dispatches">Dispatch Batches </a></li>
                      </ul>
                  </li>
                <% end %>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

    <!-- js placed at the end of the document so the pages load faster -->
    <%=javascript_include_tag "datatables/jquery"%>
    <script>
      // sleep time expects milliseconds
      function sleep (time) {
            return new Promise((resolve) => setTimeout(resolve, time));
      }

      var $j = jQuery.noConflict();
    </script> 
    <%=javascript_include_tag "js/jquery"%>
    <script>
      var $i = jQuery.noConflict();
    </script>
    <%=javascript_include_tag "bootstrap/bootstrap-inputmask.min"%>
    <%=javascript_include_tag "js/jquery-ui-1.9.2.custom.min"%>                                         
    <%=javascript_include_tag "js/jquery.ui.touch-punch.min"%>                                         
    <%=javascript_include_tag "js/jquery.dcjqaccordion.2.7"%>
    <%=javascript_include_tag "js/jquery.scrollTo.min"%>
    <%=javascript_include_tag "js/jquery.nicescroll"%>                                         


    <!--common script for all pages-->
    <%=javascript_include_tag "js/common-scripts"%>

    <!--script for this page-->
    
    <script>
        //custom select box
        try {
          //$(function(){
              $('select.styled').customSelect();
          //});
        }catch(z){
        }

    </script>
      <section id="main-content" >
      
        <!--main content start-->
          <section class="wrapper site-min-height">
            <%= yield %>
          </section>
        <!--main content end-->
      
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              <a href="http://baobabhealth.org" target="_blank" style="color:white;">baobabhealth.org</a><span style="color: #006f95;">Alvarez.is</span>
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
  </section>
  </body>

  <div class="modal fade" class="alert-modal" id="alert-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body" style="background: #d9534f;color: white;">
            <div style="width: 100%;">
                <label id='alert-msg' style="font-size: 18px;width: 100%; text-align: center;">&nbsp;</label>
            </div>
        </div>

        <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default pull-right"
                      onclick="__$('alert-msg').innerHTML = '&nbsp;'; jQuery('#alert-modal').modal('hide')" >&nbsp;&nbsp; OK &nbsp;&nbsp; </button>
        </div>
      </div>
    </div>
  </div>
<style>
    .btn{
        border-left: 3px solid darkslategray !important;
    }

    .callout-info {
        padding: 2px;color: darkslategray;
        background: -webkit-linear-gradient(-90deg, lightblue,white); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-90deg,lightblue,white); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-90deg,lightblue, white); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-90deg, lightblue, white); /* Standard syntax */
        border: 1px solid #d3d3d3;
    }

        #search-params{
            padding: 0px !important;
            margin: 0px !important;
        }
</style>
</html>
